:root{
    --primary: #0e1e31;
    --secondary: rgb(48, 48, 48);
    --bckgrnd: #ffffffbe;
}

* {
    color: var(--primary);
    justify-content: center;
    box-sizing: border-box;
    font-family: georgia, calibri, serif;
}

body {
  background-image: url(./images/dark-blue-texture-free-photo.jpg)
}

/* Top section */
header {
    border-radius: 7px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 80px 30px 80px;
    background-color: var(--bckgrnd);
    height: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, .8);
}

.top-section {
  justify-content: center;
}

header h1 {
  font-size: 4.5vw;
  text-align: center;
}

/* Navbar */
nav {
    margin: 10px 10px 10px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    background-color: var(--secondary);
    overflow: hidden;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  }
  
  nav a {
    float: left;
    color: var(--bckgrnd);
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline;
    font-size: 17px;
  }
  
  nav a.active {
    background-color: var(--primary);
    border-radius: 7px;
    color: var(--bckgrnd);
  }

  nav a:hover {
    background-color: rgb(143, 143, 143);
    color: black;
    border-radius: 7px;
  }


/* About me */
.banner {
  margin: 10px 10px 10px 10px;
  padding: 20px 50px 20px 50px;
  background-color: var(--bckgrnd);
  border-radius: 7px;
  text-align: center;
  font-size: 1.5vw;
}

.banner p {
  display: inline-block;
  max-width: 70%;
}

h2 {
  display: flex;
  flex-direction: row-reverse;
  font-size: 2.9vw;
  align-items: center;
  justify-content: space-evenly;
  padding: 0px 40px;
}

h2 img {
  border-radius: 50%;
  max-width: 20%;
  max-height: 20%;
}


/* Main body */
main {
  display: flex;
  flex-direction: column;
  margin: 10px 10px 10px 10px;
  background-color: var(--bckgrnd);
  border-radius: 7px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .8);
  padding: 20px 50px 20px 50px;
  justify-content: space-between;
  text-align:center;
}

body {
    margin: 10px 10px 10px 10px;
    background-color: var(--bckgrnd);
    padding: 10px 50px 10px 50px;
}

.card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2.3vw;
  padding: 20px;
}

img {
  border-radius: 7px;
  flex: 1;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  max-width: 50%;
  max-height: 50%;
}

div .image {
  display: block;
  border-radius: 7px;
}

.container {
  display: flex;
  padding: 2px 16px;
}


/* Footer */
footer {
  text-align: center;
  margin: 10px 10px 10px 10px;
  border-radius: 7px;
  background-color: var(--bckgrnd);
  box-shadow: 0 0 20px rgba(0, 0, 0, .8);
  padding: 10px 50px 10px 50px;
  font-size: 1.3vw;
}

footer ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-around;
  padding-left: 0;
}


/* Hover items for footer */
.contactTop {
  text-decoration: dashed underline var(--primary);
}

.contact {
  visibility: hidden;
}

footer:hover .contact {
  visibility: visible;
}


/* Media calls */
@media only screen and (max-width: 750px) {

  header {
    display: flex;
    flex: wrap;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  header h1 {
    font-size: 7vw;
  }

  nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    max-height: 20%;
    max-width: 100%;
  }

  .card {
    flex-direction: column;
    justify-content: center;
  }
}
