:root{
    --primary: #0e1e31;
    --secondary: rgb(48, 48, 48);
}

body {
  background-image: url(./images/dark-blue-texture-free-photo.jpg)
}

* {
    color: var(--primary);
    justify-content: center;
    box-sizing: border-box;
    font-family: "Optima", calibri, serif;
}

.top-section {
  justify-content: center;
}

header {
    border-radius: 7px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px 10px 50px;
    background-color: white;
    height: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, .8);
}

header h1 {
  font-size: 5vw;
  text-align: center;
}

main {
  margin: 10px 10px 10px 10px;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .8);
  padding: 10px 50px 10px 50px;
  text-align: center;
}

nav {
    margin: 10px 10px 10px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    background-color: var(--secondary);
    overflow: hidden;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  }
  
  nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline;
    font-size: 17px;
  }
  
  nav a.active {
    background-color: var(--primary);
    border-radius: 7px;
    color: white;
  }

  nav a:hover {
    background-color: rgb(143, 143, 143);
    color: black;
    border-radius: 7px;
  }

body {
    margin: 10px 10px 10px 10px;
    background-color: rgb(255, 250, 238);
    padding: 10px 50px 10px 50px;
}

.banner {
  margin: 10px 10px 10px 10px;
  background-color: white;
  border-radius: 7px;
  padding: 10px 50px 10px 50px;
  text-align: center;
  font-size: 120%;
}

.card {
    
}

footer {
  text-align: center;
  margin: 10px 10px 10px 10px;
  border-radius: 7px;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, .8);
  padding: 10px 50px 10px 50px;
  text-decoration: underline;
  font-size: 120%;
}

footer ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-around;
  padding-left: 0;
}

@media only screen and (max-width: 750px) {

  header {
    display: flex;
    flex: wrap;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  header h1 {
    font-size: 7vw;
  }

  nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    max-height: 20%;
    max-width: 100%;
  }
}